

<div class="jumbotron">

	<center>
		<h1>Welcome to Lil' Wheezer's Pizza!</h1>
		<h3><em>Home of the Dirty Hippy Peace-ahhh</em></h3>

		<img src="http://www.littleminyan.org/wp-content/uploads/2012/01/peace-pizza1-150x150.gif">
		<br>

	<%= link_to "Check out our pizzas!", pizzas_path, class: "btn btn=default" %>


	</center>